In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName('Filter').getOrCreate()

In [2]:
spark.read.csv("C:/Users/gorja/Downloads/test1.csv",header=True,inferSchema=True)

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [3]:
df_pyspark = spark.read.csv("C:/Users/gorja/Downloads/test1.csv",header=True,inferSchema=True)

In [4]:
df_pyspark = spark.read.csv("C:/Users/gorja/Downloads/test1.csv",header=True,inferSchema=True).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [5]:
df_pyspark = spark.read.csv("C:/Users/gorja/Downloads/test1.csv",header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [7]:
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=20000").select(['Name','Experience','age']).show()

+-------+----------+---+
|   Name|Experience|age|
+-------+----------+---+
|  Sunny|         4| 29|
|   Paul|         3| 24|
| Harsha|         1| 21|
|Shubham|         2| 23|
+-------+----------+---+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=20000)&
                  (df_pyspark['age']<=24)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=20000)&
                  (df_pyspark['age']<=24)).show()